/*******************IMPORTS*************************************/
/*****************************************************************/
@import url("bootstrap.css");


/********************GENERAL***************************************/
/******************************************************************/
body {
  text-align: center;
}
/*********************HEADER***********************************/
/***************************************************************/
header {
  background-image: url("../images/backgrounds/h_img.jpg");
  text-align: center;
  padding: 150px ;
  padding-left: 400px;
  padding-right: 400px ;
  color: white;
}
img {
  float: inherit;
}

/*********************ABOUT US***********************************/
/***************************************************************/

/*********************SERVICES**********************************/
/**************************************************************/

/*********************WHAT WE DO********************************/
/*************************************************************/

/**********************PORTFOLIO*******************************/
/****************************************************************/

/*********************CONTACT US*******************************/
/*************************************************************/
