/*******************IMPORTS*************************************/
/*****************************************************************/
@import url("bootstrap.css");


/********************GENERAL***************************************/
/******************************************************************/
body {
  text-align: center;
}
h1 {
  font-weight: bold;

}
.p13 {
  font-size: 13px;
}
/*********************HEADER***********************************/
/***************************************************************/
header {
  padding-top: 100px;
  width: 100%;
  height: 600px;
  background-image: url("../images/backgrounds/h_img.jpg");
  text-align: center;
  padding-left: 300px;
  padding-right: 300px ;
  color: white;
}
footer {
  align-items: baseline;
}


/*********************ABOUT US***********************************/
/***************************************************************/
.about {
  padding: 50px;
}
/*********************SERVICES**********************************/
/**************************************************************/
.services {
  background-image: url("../images/backgrounds/s_image.jpg");
  color: white;
  padding: 70px;
  padding-left: 350px;
  padding-right: 350px;
}
/*********************WHAT WE DO********************************/
/*************************************************************/
.what {
  padding: 50px;
}
/**********************PORTFOLIO*******************************/
/****************************************************************/
.portfolio {
  padding-bottom: 50px;
  text-align: center;
}
.hide, .hide1, .hide2 {
  display: none;
}
/*********************CONTACT US*******************************/
/*************************************************************/
.contact {
  padding: 50px;
  background-image: url("../images/backgrounds/c_image.jpg");
  height: 500px;
  text-align: center;
  color: white;
}
form {
  background: inherit;
}
input, textarea {
    background-color: rgba(0,0,0,0.0);
    color: white;
}
.placeholder {
  color: white;
}
button {
  background-color: inherit;
  color: white;
  font-weight: bold;

}
.social{
  align-items: center;
  padding: 50px;
  width: auto;
  align-content: center;
  padding-right: 400px;
  padding-left: 400px;
}
.rowcenter {

  align-content: center;
}
